.header
{
    display: flex;
    background-color: efffff;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.header > img
{
    margin-left: 15px;
    margin-right: 6px;
    border: 1px solid green;
}
.header-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-employee
{
    color: chartreuse;
    font-weight: bolder;
    font-size: larger;
}
.text-payroll
{
    color: black;
    font-weight: bolder;
    font-size: larger;
}
.form-content
{
    background-color: rgb(202, 198, 198);
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.form-payroll
{
    background-color: white;
    width: 70vw;
    height:90%;
    align-content: center;
    display: flex;
    flex-direction: column;
}
form > div
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.form-header
{
    font-size: x-large;
    font-weight: bolder;
    text-shadow: ivory;
    margin-top: 20px;
}
form  label
{
    width:20%;
    font-size: large;
    font-weight: normal;

}
form  input
{
    flex:auto;
    margin-left: 20px;
    line-height: 2.0;
    border : 1px solid rgb(66, 65, 65);
}
.radio-content
{
    display: flex;
    flex : auto;
    flex-flow: row;
    padding: 10px;
}
.radio-content  label
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}



