@media screen and (min-width:600px)
{
    .form-payroll
    {
        background-color: white;
        width: 70vw;
        height: 80vh;
        padding: 2vh;
        align-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}
@media screen and (max-width:600px)
{
    .form-payroll
    {
        background-color: white;
        width: 80vw;
        height: 90%;
        align-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}
.header
{
    display: flex;
    height: 8vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 3vh;
}
.header > img
{
    margin-left: 15px;
    margin-right: 6px;
    border: 1px solid green;
}
.header-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-employee
{
    color: chartreuse;
    font-weight: bolder;
    font-size: 2vw;
}
.text-payroll
{
    color: black;
    font-weight: bolder;
    font-size: 2vw;
}

.form-content
{
    background-color: rgb(202, 198, 198);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.row-content
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.formHeader
{
    font-size: larger;
    font-weight: bolder;
    text-shadow: ivory;
    margin-top: 2vh;
}
.Labels
{
    width:20%;
    font-size: large;
    font-weight: normal;

}
form input
{
    flex:auto;
    margin-left: 3vw;
    line-height: 2.0;
    border : 1px solid rgb(66, 65, 65);
}
.radio-content, .radio-gender,.checkbox,.date-content
{
    display: flex;
    flex : auto;
    flex-flow: row wrap;
    padding: 5px;
    justify-content: flex-start;
}
.MultipleLabels
{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
form select
{
    width: auto;
    height: auto;
    margin-left: 3vw;
    line-height: 2.0;
    padding: 8px; 
    border: 2px solid #CCC;
    border-radius: 6px; 
    font: normal normal normal 15px Roboto;
    background-color: transparent; 
    text-align: center;
}



