body
{
    background-color: rgb(202, 198, 198);
    margin : 0;
    display: flex;
    flex-flow: column;
    flex: auto;
}
@media screen and (min-width:600px)
{
    .form-payroll
    {
        background-color: white;
        height: 100%;
        margin-right: 15%;
        margin-left: 15%;
        align-content: center;
        min-width: 300px;
        display: flex;
        flex: auto;
        flex-direction: column;
        justify-content: center;
        margin-top: 2vh;
        border-radius: 15px;
    }
}
@media screen and (max-width:600px)
{
    .form-payroll
    {
        min-width: 300px;
        background-color: white;
        height: 100%;
        margin-right: 10%;
        margin-left: 10%;
        align-content: center;
        display: flex;
        flex: auto;
        flex-direction: column;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border-radius: 8px;
    }
}
.header
{
    display: flex;
    flex: auto;
    justify-content: flex-start;
    margin-top: 2vh;
    background-color: white;
    box-shadow: 2px 2px rgb(216, 215, 215);
    border: 1px solid rgb(51, 51, 33);
    margin-bottom: 1vh;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
}
.header > img
{
    margin-left: 8%;
    margin-right: 6px;
    align-content: center;
}
.header-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.text-employee
{
    font-family: "Montserrat", sans-serif;
    color: chartreuse;
    font-weight: bolder;
    font-size: large;
}
.text-payroll
{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.form-content
{
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.row-content
{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.formHeader
{
    font-size: x-large;
    font-weight: bolder;
    text-shadow: ivory;
}
.Labels
{
    min-width:20%;
    font-size: large;
    font-weight: normal;
    margin-right: 5vw;
}
.text
{
    margin-left: 3vw;
}
.input
{
    display: flex;
    flex : auto;
    flex-flow: row wrap;
    line-height: 2.0;
    padding: 0;
    justify-content: flex-start;
    align-content: center;
}
.dateinput
{
    display: flex;
    flex-flow: row;
    flex: auto;
    line-height: 2.0;
    padding: 0;
    justify-content: flex-start;
    align-content: center;   
}
.textName
{
    min-width: 60%;
    flex : auto;
    line-height: 2.0;
    padding: 2px;
    justify-content: flex-start;
    border: 1px solid black;
}
.date
{
    flex-flow: row;
}
.errorText
{
    flex:auto;    
}
.MultipleLabels
{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin-right: 3vw;
    align-items: center;
}
form select
{
    margin-right: 2vw;
    line-height: 2.0;
    padding: 8px; 
    border: 2px solid #CCC;
    border-radius: 6px; 
    font: normal normal normal 15px Roboto;
    background-color: transparent; 
    text-align: center;
}
.button 
{ 
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: box; 
    color: #070707; 
    opacity: 1;
    background-color: transparent;
    font-weight: 400;
    padding: 7px 7px;
    margin-right: 15px;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
}
.allButtons
{
    display: flex;
    flex-flow: row wrap;
    flex: auto;
    justify-content: space-evenly;
    margin-bottom: 2px;
    padding: 10px;
}
error-output
{
    margin-left:10px;
    font-size:12px;
    font-style:italic;
    color:red;
}


